<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Secrets</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h1>Unknown Hidden Secrets</h1>
        <div class="secretBOX">
            <p><%= secret %></p>
        </div>
        <h4><em><%= username %></em></h4>
    </div>
</body>
</html>